@model P21.Rules.Visual.Models.CustomerAddress

@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_VisualRuleLayout.cshtml";
}
<div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("RuleView", "SampleRule1")'">Rule View</button>
    <button style="padding-left:10px" type="button" class="btn btn-primary" onclick="location.href='@Url.Action("GridView", "SampleRule1")'">Grid View</button>
    <hr />
</div>

@using (Html.BeginForm("SaveAndReturn", "SampleRule1", FormMethod.Post))
{    <div class="form-horizontal">
        <h4>Customer Mailing Address</h4>

        @Html.HiddenFor(model => model.CustomerId)

        <form>
            <div style="padding-bottom: 5px">
                @Html.LabelFor(model => model.Address1, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Address1, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address1)

                @Html.LabelFor(model => model.Address2, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address2)

                @Html.LabelFor(model => model.City, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.City)

                @Html.LabelFor(model => model.Country, new { @class = "control-label" })
                @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Country)
            </div>

            <button class="btn btn-warning pull-right" type="submit">Save and Return   <i class="glyphicon glyphicon-arrow-right"></i></button>
        </form>

    </div>
}


