@model P21.Extensions.Web.WebBusinessRule

@{
    ViewBag.Title = "Test Harness";
}

<div class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px">
    <div style="display: flex; flex-direction: column;">
        <h1>Visual Rule Test Harness</h1>
        <p>This will allow you to send business rule data to the Sample Visual Rule as if it was triggered from the server.</p>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Execution Rule Activation</h4>
            <p>Visual Rule URL</p>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="input-group mb-3">
                <span id="rootVBRURL" class="input-group-text">@ViewBag.rootVBRURL</span>
                <input class="form-control" type="text" name="action" id="action" style="max-width:480px;" value="Initialize?ruleController=Default&ruleAction=Index" />
            </div>

            <div class="input-group mb-3">
                <span id="lblUserName" class="input-group-text">User:</span>
                <input class="form-control" type="text" name="txtUserName" id="txtUserName" value="@Model.Session.UserID" />
                <span id="lblPassword" class="input-group-text">Password:</span>
                <input class="form-control" type="password" name="txtPassword" id="txtPassword" />
            </div>

            <div class="input-group mb-3">
                <span id="lblSOAURL" class="input-group-text">API URL:</span>
                <input class="form-control" type="text" name="txtSOAURL" id="txtSOAURL" style="max-width:600px;" value="@Model.RuleState.RulePageUrl" />
            </div>

            <div class="mb-3 pt-3">
                <p>Data for Server Request</p>
                <textarea name="ruleRequest" id="ruleRequest" rows="8" class="form-control" style="max-width:680px;">@Model.XmlData</textarea>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Start Execution &raquo;" class="btn btn-warning float-end" />
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
