@model P21.Extensions.Web.WebBusinessRule

@{
    ViewBag.Title = "Test Harness";
}

<h2>Visual Rule Test Harness</h2>
<p>
    This will allow you to send business rule data to the Sample Visual Rule as if it was triggered from the server.
</p>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Execution Rule Activation</h4>
            <p>Visual Rule URL</p>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="input-group">
                <span id="rootVBRURL" class="input-group-addon">Root URL</span>
                <input class="form-control" type="text" name="action" id="action" value="Initialize?ruleController=Default&ruleAction=Index" />
            </div>

            <div class="input-group">
                <span id="lblUserName" class="input-group-addon">User:</span>
                <input class="form-control" type="text" name="txtUserName" id="txtUserName" value="@Model.Session.UserID" />
                <span id="lblPassword" class="input-group-addon">Password:</span>
                <input class="form-control" type="password" name="txtPassword" id="txtPassword" />
            </div>
            <div class="input-group">
                <span id="lblSOAURL" class="input-group-addon">API URL:</span>
                <input class="form-control" type="text" name="txtSOAURL" id="txtSOAURL" value="@Model.RuleState.RulePageUrl" />
            </div>


            <div class="form-group" style="padding-bottom: 10px; padding-top: 10px">
                <div class="col-xs-12">
                    <p>Data for Server Request</p>
                    <textarea class="form-control" name="ruleRequest" id="ruleRequest" rows="8" style="width:100%">@Model.XmlData</textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Start Execution &rarr;" class="btn btn-warning pull-right" />
                </div>
            </div>
        </div>
    }
</div>
<div class="clearfix" style="height: 20px;"></div>  <!-- Spacer -->
<div class="row">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
