
@{
    ViewBag.Title = "Edit";
}

<h2>Web Visual Rule Post Test</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Initialze Rule Post</h4>
            <p>Visual Rule URL</p>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="input-group">
                <span id="lblController" class="input-group-addon">Controller:</span>
                <input class="form-control" type="text" name="ruleController" id="ruleController" value="Default" />
            </div>

            <div class="input-group">
                <span id="lblAction" class="input-group-addon">Action:</span>
                <input class="form-control" type="text" name="ruleAction" id="ruleAction" value="Index" />
            </div>

            <div class="input-group">
                <span id="rootVBRURL" class="input-group-addon">Root URL</span>
                <input class="form-control" type="text" name="vbrData" id="vbrData" value="@ViewBag.EncodedXml" />
            </div>

            <div class="input-group">
                <span id="lblUserName" class="input-group-addon">User:</span>
                <input class="form-control" type="text" name="txtUserName" id="txtUserName" />
                <span id="lblPassword" class="input-group-addon">Password:</span>
                <input class="form-control" type="password" name="txtPassword" id="txtPassword" />
                <input type="hidden" name="token" id="token" value="@ViewBag.Token" />
            </div>
            <div class="input-group">
                <span id="lblSOAURL" class="input-group-addon">API URL:</span>
                <input class="form-control" type="text" name="soaURL" id="soaURL" />
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Post &rarr;" class="btn btn-success pull-right" />
                </div>
            </div>
        </div>
    }

</div>
<div class="clearfix" style="height: 20px;"></div>  <!-- Spacer -->
<div class="row">
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
