@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        Use @Html.ActionLink("this", "Index", "Initialize", new { ruleController = "Default", ruleAction = "Details" }, new { @class = "text-primary" })
        <a href="~/Default/Details" class="text-secondary">area</a>
        to provide additional information.
    </p>

    <p>
        <h3>Assembly Details</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>FullName</dt>
            <dd>@System.Reflection.Assembly.GetExecutingAssembly().FullName</dd>

            <dt>Name</dt>
            <dd>@System.Reflection.Assembly.GetExecutingAssembly().GetName().Name</dd>

            <dt>Version</dt>
            <dd>@System.Reflection.Assembly.GetExecutingAssembly().GetName().Version</dd>
        </dl>
    </p>
</main>